﻿html {
    box-sizing: border-box;
    background-color: #ffcc00;
}

#map {
    height: 100vh;
    width: 100%;
}

.title {
    width: 15em;
    height: 20em;
}


@media screen and (min-width: 600px) {
    .title {
        display: block;
        position: absolute;
        top: 9px;
        right: 9px;
        background: radial-gradient(farthest-corner at 45px 45px, #ffe680 50%, #ffcc00 100%);
        border-bottom-left-radius: 8px;
        z-index: 99999;
    }
}

.title h1 {
    text-align: center;
    background-color: #997a00;
}

.title p {
    color: #665200;
}

#fitPerPostcode {
    padding: 0 1rem 1rem 1rem;
}
